@charset "UTF-8";
/* ====================================
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
このCSSファイルはSassから生成されていますので、
編集しないようご注意ください。
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
==================================== */
/* import
============================== */
/* color-scheme
============================== */
/* font
============================== */
/* media-query
============================== */
@media only screen and (max-width: 575px) {
  .is-tab,
.is-pc {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .is-tab,
.is-pc {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .is-sp,
.is-pc {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .is-sp,
.is-pc {
    display: none;
  }
}
@media (min-width: 1200px) {
  .is-sp,
.is-tab {
    display: none;
  }
}
/* function
============================== */
/* z-index
============================== */
/* common
============================== */
html {
  font-size: 16px;
  background-color: #000a14;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #fffdf7;
}

#wrapper {
  position: relative;
  z-index: 1;
  overflow: auto;
}

section {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 576px) and (max-width: 767px) {
  section {
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 575px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.section__ttl {
  font-family: "Bruno Ace", cursive;
  display: block;
  font-size: 3rem;
  font-weight: 500;
  position: relative;
  mix-blend-mode: difference;
}
@media (min-width: 576px) and (max-width: 767px) {
  .section__ttl {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 575px) {
  .section__ttl {
    font-size: 2rem;
  }
}

.section__sub-ttl {
  display: block;
  margin-bottom: 32px;
  font-size: 0.875rem;
}
@media (min-width: 576px) and (max-width: 767px) {
  .section__sub-ttl {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 575px) {
  .section__sub-ttl {
    font-size: 0.75rem;
  }
}

.section__text {
  margin-bottom: 32px;
}

.section__desc {
  line-height: 2;
}
@media (min-width: 576px) and (max-width: 767px) {
  .section__desc {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 575px) {
  .section__desc {
    font-size: 0.75rem;
  }
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

a:focus,
input:focus,
textarea:focus {
  outline: none;
}

.font--jp {
  font-family: "Noto Sans JP", sans-serif;
}

.text--bold {
  font-weight: bold;
  color: #ffea1e;
  text-shadow: 0 0 20px #ffea1e;
}

#mouse-stalker {
  pointer-events: none;
  position: fixed;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  background-color: #fffdf7;
  border-radius: 50%;
  transform: translate(0, 0);
  transition: transform 0.2s ease-out;
  z-index: 999;
  mix-blend-mode: difference;
}
#mouse-stalker.is-active {
  top: -40px;
  left: -40px;
  width: 80px;
  height: 80px;
  transition: transform 0.2s ease-out;
}

/* splash ローディング時のアニメーション
============================== */
#splash {
  position: fixed;
  z-index: 998;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #000a14;
}

#space {
  width: 100%;
  height: 100%;
  z-index: 999;
}

#splash__text {
  position: absolute;
  z-index: inherit;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

#splash__text svg {
  height: 2px;
}

/* background 背景の星のアニメーション
============================== */
#particles-js {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #000a14;
}

/* header
------------------------------ */
.header {
  font-family: "Noto Sans JP", sans-serif;
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 5%;
}
.header.is-open {
  transform: translateY(-60px);
}
@media (min-width: 576px) and (max-width: 767px) {
  .header {
    height: 30px;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 575px) {
  .header {
    height: 30px;
    padding: 0 10px;
  }
}

.header__logo {
  font-size: 1.5rem;
  font-family: "Bruno Ace", cursive;
  line-height: 1;
}
@media (min-width: 576px) and (max-width: 767px) {
  .header__logo {
    margin-top: 3px;
  }
}
@media only screen and (max-width: 575px) {
  .header__logo {
    margin-top: 3px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header__nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__nav.is-open {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .header__nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__nav.is-open {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#nav__list {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 576px) and (max-width: 767px) {
  #nav__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
  }
  #nav__list.is-open {
    display: block;
    -webkit-animation: drawerNavAnime 0.8s ease 0.5s forwards;
            animation: drawerNavAnime 0.8s ease 0.5s forwards;
    z-index: 999;
  }
}
@media only screen and (max-width: 575px) {
  #nav__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
  }
  #nav__list.is-open {
    display: block;
    -webkit-animation: drawerNavAnime 0.8s ease 0.5s forwards;
            animation: drawerNavAnime 0.8s ease 0.5s forwards;
    z-index: 999;
  }
}
@-webkit-keyframes drawerNavAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes drawerNavAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav__item {
  position: relative;
}
.nav__item + .nav__item {
  margin-left: 10px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .nav__item {
    margin-bottom: 32px;
  }
  .nav__item + .nav__item {
    margin-left: 0;
  }
  .nav__item:not(:last-child)::before {
    position: absolute;
    bottom: -16px;
    left: 50%;
    width: 80px;
    height: 1px;
    content: "";
    transform: translateX(-50%);
    background: #77cdff;
  }
}
@media only screen and (max-width: 575px) {
  .nav__item {
    margin-bottom: 32px;
  }
  .nav__item + .nav__item {
    margin-left: 0;
  }
  .nav__item:not(:last-child)::before {
    position: absolute;
    bottom: -16px;
    left: 50%;
    width: 80px;
    height: 1px;
    content: "";
    transform: translateX(-50%);
    background: #77cdff;
  }
}

.nav__link {
  font-size: 1rem;
  font-family: "Bruno Ace", cursive;
  position: relative;
  padding: 10px;
}
.nav__link::after {
  position: absolute;
  bottom: 5px;
  left: 25%;
  width: 50%;
  content: "";
  opacity: 0;
  border-bottom: 1px solid #77cdff;
}
.nav__link.is-active {
  pointer-events: none;
}
.nav__link.is-active::after {
  -webkit-animation: navHover 0.5s ease forwards;
          animation: navHover 0.5s ease forwards;
  opacity: 1;
}
.nav__link.is-active .nav__link-en {
  opacity: 0;
}
.nav__link.is-active .nav__link-ja {
  opacity: 1;
}
.nav__link:hover::after, .nav__link:focus::after {
  -webkit-animation: navHover 0.5s ease forwards;
          animation: navHover 0.5s ease forwards;
  opacity: 1;
}
.nav__link:hover .nav__link-en, .nav__link:focus .nav__link-en {
  opacity: 0;
}
.nav__link:hover .nav__link-ja, .nav__link:focus .nav__link-ja {
  opacity: 1;
}
@-webkit-keyframes navHover {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
@keyframes navHover {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

.nav__link-en {
  transition: all 0.5s ease 0s;
  text-shadow: -1px -1px 0 #3e3e3e, -1px 0 0 #3e3e3e, -1px 1px 0 #3e3e3e, 0 -1px 0 #3e3e3e, 0 1px 0 #3e3e3e, 1px -1px 0 #3e3e3e, 1px 0 0 #3e3e3e, 1px 1px 0 #3e3e3e;
}

.nav__link-ja {
  position: absolute;
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  white-space: nowrap;
  transition: all 0.5s ease 0s;
  transform-origin: bottom;
  text-shadow: -1px -1px 0 #3e3e3e, -1px 0 0 #3e3e3e, -1px 1px 0 #3e3e3e, 0 -1px 0 #3e3e3e, 0 1px 0 #3e3e3e, 1px -1px 0 #3e3e3e, 1px 0 0 #3e3e3e, 1px 1px 0 #3e3e3e;
}

.header__hamburger {
  z-index: 999;
  width: 30px;
  height: 30px;
}

.hamburger__menu {
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
}

.hamburger__icon {
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  transition: all 0.5s ease 0s;
  background: #fffdf7;
}
.hamburger__icon.is-open {
  width: 25px;
  transform: rotate(45deg);
}
.hamburger__icon:nth-child(1) {
  top: 6px;
}
.hamburger__icon:nth-child(1).is-open {
  top: 15px;
}
.hamburger__icon:nth-child(2) {
  top: 15px;
}
.hamburger__icon:nth-child(2).is-open {
  transform: rotate(-45deg);
}
.hamburger__icon:nth-child(3) {
  top: 24px;
}
.hamburger__icon:nth-child(3).is-open {
  top: 15px;
  transform: rotate(-405deg);
}

.drawer-background {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.5s ease 0s;
  transform: translateX(110%);
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
}
.drawer-background.is-open {
  transform: translateX(0);
  opacity: 1;
}

/* top
------------------------------ */
#top {
  position: relative;
  height: 100vh;
}

.top__ttl {
  position: absolute;
  z-index: 10;
  font-family: "Bruno Ace", cursive;
  font-size: 10rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  -webkit-text-stroke: 1px #ffea1e;
  -webkit-animation: topTtlAnime 1s ease 5s forwards;
          animation: topTtlAnime 1s ease 5s forwards;
}
@media (min-width: 576px) and (max-width: 767px) {
  .top__ttl {
    height: auto;
    padding: 32px 0;
    margin-bottom: 2.5%;
    transform: translateY(-50%);
  }
}
@media only screen and (max-width: 575px) {
  .top__ttl {
    height: auto;
    padding: 32px 0;
    margin-bottom: 2.5%;
    transform: translateY(-50%);
    font-size: 5rem;
  }
}
@-webkit-keyframes topTtlAnime {
  0% {
    color: transparent;
  }
  100% {
    color: #ffea1e;
    text-shadow: 0 0 20px #ffea1e;
  }
}
@keyframes topTtlAnime {
  0% {
    color: transparent;
  }
  100% {
    color: #ffea1e;
    text-shadow: 0 0 20px #ffea1e;
  }
}

.scrolldown {
  display: none;
  position: absolute;
  width: 15px;
  height: 90px;
  bottom: 75px;
  right: 50px;
  -webkit-animation: scrolldownMove 2s ease infinite;
          animation: scrolldownMove 2s ease infinite;
}
@-webkit-keyframes scrolldownMove {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(40px);
    opacity: 0;
  }
}
@keyframes scrolldownMove {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(40px);
    opacity: 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .scrolldown {
    bottom: 100px;
  }
}
@media only screen and (max-width: 575px) {
  .scrolldown {
    bottom: 100px;
  }
}

.scrolldown__icon {
  position: absolute;
  display: block;
  background-color: #fffdf7;
  border-radius: 50px;
}
.scrolldown__icon:first-of-type {
  width: 2px;
  height: 90px;
}
.scrolldown__icon:last-of-type {
  width: 20px;
  height: 2px;
  rotate: -45deg;
  bottom: 8px;
  left: -1px;
}

/* concept
------------------------------ */
/* about
------------------------------ */
.about__container {
  width: 100%;
  margin: 0 auto;
}

.about__row {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  gap: 2.5%;
}
@media (min-width: 576px) and (max-width: 767px) {
  .about__row {
    flex-direction: column;
  }
}
@media only screen and (max-width: 575px) {
  .about__row {
    flex-direction: column;
  }
}

.about__wrapper {
  width: 100%;
  height: 500px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #77cdff;
  border-radius: 20px;
  box-shadow: 0 0 10px #77cdff;
  background-color: rgba(119, 205, 255, 0.05);
  padding: 20px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .about__wrapper {
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .about__wrapper {
    height: 600px;
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 10px;
  }
}

.about__inner {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid #77cdff;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgba(119, 205, 255, 0.05);
}
@media (min-width: 576px) and (max-width: 767px) {
  .about__inner {
    border-radius: 5px;
  }
}
@media only screen and (max-width: 575px) {
  .about__inner {
    border-radius: 5px;
  }
}

.about__desc {
  position: absolute;
  inset: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  transition: all 1s ease 0s;
  text-shadow: -1px -1px 0 #3e3e3e, -1px 0 0 #3e3e3e, -1px 1px 0 #3e3e3e, 0 -1px 0 #3e3e3e, 0 1px 0 #3e3e3e, 1px -1px 0 #3e3e3e, 1px 0 0 #3e3e3e, 1px 1px 0 #3e3e3e;
}
.about__desc.is-active {
  opacity: 1;
}

.about__headline {
  font-size: 2rem;
  font-family: "Bruno Ace", cursive;
}
@media (min-width: 576px) and (max-width: 767px) {
  .about__headline {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 575px) {
  .about__headline {
    font-size: 1.5rem;
  }
}

.about__sub-ttl {
  font-size: 0.75rem;
  margin-bottom: 32px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .about__sub-ttl {
    font-size: 0.625rem;
  }
}
@media only screen and (max-width: 575px) {
  .about__sub-ttl {
    font-size: 0.625rem;
  }
}

.about__text {
  font-size: 0.875rem;
  line-height: 1.7;
}
.about__text a {
  display: inline-block;
  border-bottom: 1px solid #fffdf7;
}
@media (min-width: 576px) and (max-width: 767px) {
  .about__text {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 575px) {
  .about__text {
    font-size: 0.75rem;
  }
}

.about__list {
  display: flex;
  flex: 0 1 18%;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .about__list {
    flex-direction: row;
  }
}
@media only screen and (max-width: 575px) {
  .about__list {
    flex-direction: row;
  }
}

.about__tab {
  width: 100px;
  height: 100px;
  transition: all 0.2s ease 0s;
  border: 1px solid transparent;
  border-radius: 50%;
  filter: grayscale(100%);
  box-shadow: 0 5px 0 #7d7d7d;
  transform: translateY(-3px);
}
@media only screen and (max-width: 575px) {
  .about__tab {
    width: 50px;
    height: 50px;
  }
}
.about__tab.is-active {
  box-shadow: 0 0 10px #77cdff;
  filter: grayscale(0%);
  transform: translateY(4px);
  pointer-events: none;
}
.about__tab:hover {
  box-shadow: 0 3px 0 #7d7d7d;
  transform: translateY(-1px);
  filter: grayscale(0%);
}

/* service
------------------------------ */
.service__container {
  margin-bottom: 32px;
}

.service__contact {
  display: inline-block;
  border-bottom: 1px solid #fffdf7;
}

.service__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
}
@media only screen and (max-width: 575px) {
  .service__list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.service__contents {
  border: 1px solid #77cdff;
  border-radius: 20px;
  box-shadow: 0 0 10px #77cdff;
  overflow: hidden;
  cursor: pointer;
  display: inline-flex;
}
@media (min-width: 576px) and (max-width: 767px) {
  .service__contents {
    border-radius: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .service__contents {
    border-radius: 10px;
  }
}
.service__contents:hover, .service__contents:focus {
  box-shadow: 0 0 10px #77cdff;
}
.service__contents:hover .service__img-wrapper, .service__contents:focus .service__img-wrapper {
  filter: grayscale(0%);
}

.service__link {
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.service__img-wrapper {
  margin-bottom: 16px;
  filter: grayscale(100%);
  transition: all 0.2s ease 0s;
  border-radius: 10px;
  overflow: hidden;
}

.service__img {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}

.service__head {
  color: #fffdf7;
  text-align: left;
}
@media only screen and (max-width: 575px) {
  .service__head {
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 575px) {
  .service__head {
    font-size: 0.875rem;
  }
}

/* works
------------------------------ */
.works__container {
  position: relative;
}

.works__swiper {
  position: relative;
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
}

.swiper-slide-active .works__info {
  display: block;
  opacity: 1;
}

.works__link {
  transition: all 0.2s ease 0s;
}
.works__link:hover img, .works__link:focus img {
  filter: none;
}

.works__figure {
  overflow: hidden;
  margin-bottom: 32px;
  border-radius: 20px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .works__figure {
    border-radius: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .works__figure {
    border-radius: 10px;
  }
}

.works__img {
  width: 100%;
  height: 61.8%;
  transition: all 0.5s ease 0s;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  filter: grayscale(100%);
}

.works__info {
  display: none;
  opacity: 0;
}

.works__tag {
  display: inline-block;
  border: 1px solid #fffdf7;
  border-radius: 50px;
  font-size: 0.75rem;
  padding: 2px 10px;
}
.works__tag + .works__tag {
  margin-left: 16px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .works__tag {
    font-size: 0.625rem;
  }
  .works__tag + .works__tag {
    margin-left: 8px;
  }
}
@media only screen and (max-width: 575px) {
  .works__tag {
    font-size: 0.625rem;
  }
  .works__tag + .works__tag {
    margin-left: 8px;
  }
}

.works__ttl {
  font-size: 1.25rem;
  margin-bottom: 16px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .works__ttl {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 575px) {
  .works__ttl {
    font-size: 1rem;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev {
  top: 30px;
  left: 85%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
.swiper-button-prev::after {
  position: absolute;
  content: "";
  inset: 0;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
}
@media (min-width: 576px) and (max-width: 767px) {
  .swiper-button-prev {
    left: 80%;
  }
}
@media only screen and (max-width: 575px) {
  .swiper-button-prev {
    left: 70%;
  }
}
.swiper-button-prev:hover {
  border: 1px solid #fffdf7;
}
.swiper-button-prev:hover::after {
  display: none;
}
.swiper-button-prev:hover .works__icon1::before {
  -webkit-animation: draw 0.3s linear forwards;
          animation: draw 0.3s linear forwards;
}
.swiper-button-prev:hover .works__icon2::before {
  -webkit-animation: draw 0.3s ease-out 0.3s forwards;
          animation: draw 0.3s ease-out 0.3s forwards;
}
.swiper-button-prev:hover .works__icon3 {
  transform: translate(-70%, -50%);
}
.swiper-button-prev .works__icon1,
.swiper-button-prev .works__icon2 {
  position: absolute;
  overflow: hidden;
  width: 55%;
  height: 110%;
  top: -5%;
}
.swiper-button-prev .works__icon1 {
  left: 50%;
}
.swiper-button-prev .works__icon2 {
  left: -5%;
}
.swiper-button-prev .works__icon1::before,
.swiper-button-prev .works__icon2::before {
  position: absolute;
  content: "";
}
.swiper-button-prev .works__icon1::before {
  width: 100%;
  height: 200%;
  background-color: #000a14;
  transform-origin: 0 25%;
}
.swiper-button-prev .works__icon2::before {
  left: -10%;
  width: 110%;
  height: 120%;
  background-color: #000a14;
  transform-origin: 100% 40%;
}
.swiper-button-prev .works__icon3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  z-index: 10;
  color: #fffdf7;
  transition: transform 0.3s ease 0.6s;
}

.swiper-button-next {
  top: 30px;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
.swiper-button-next::after {
  position: absolute;
  content: "";
  inset: 0;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
}
.swiper-button-next:hover {
  border: 1px solid #fffdf7;
}
.swiper-button-next:hover::after {
  display: none;
}
.swiper-button-next:hover .works__icon1::before {
  -webkit-animation: draw 0.3s linear forwards;
          animation: draw 0.3s linear forwards;
}
.swiper-button-next:hover .works__icon2::before {
  -webkit-animation: draw 0.3s ease-out 0.3s forwards;
          animation: draw 0.3s ease-out 0.3s forwards;
}
.swiper-button-next:hover .works__icon3 {
  transform: translate(-30%, -50%);
}
.swiper-button-next .works__icon1,
.swiper-button-next .works__icon2 {
  position: absolute;
  overflow: hidden;
  width: 55%;
  height: 110%;
  top: -5%;
}
.swiper-button-next .works__icon1 {
  left: 50%;
}
.swiper-button-next .works__icon2 {
  left: -5%;
}
.swiper-button-next .works__icon1::before,
.swiper-button-next .works__icon2::before {
  position: absolute;
  content: "";
}
.swiper-button-next .works__icon1::before {
  width: 100%;
  height: 200%;
  background-color: #000a14;
  transform-origin: 0 25%;
}
.swiper-button-next .works__icon2::before {
  left: -10%;
  width: 110%;
  height: 120%;
  background-color: #000a14;
  transform-origin: 100% 40%;
}
.swiper-button-next .works__icon3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  z-index: 10;
  color: #fffdf7;
  transition: transform 0.3s ease 0.6s;
}

/* 円を描くアニメーション */
@-webkit-keyframes draw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes draw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
/* 塗りのアニメーション */
@-webkit-keyframes filling {
  0% {
    box-shadow: inset 0 0 0 9px #fff;
  }
  100% {
    box-shadow: inset 0 0 0 50px #fff;
  }
}
@keyframes filling {
  0% {
    box-shadow: inset 0 0 0 9px #fff;
  }
  100% {
    box-shadow: inset 0 0 0 50px #fff;
  }
}
/* contact
------------------------------ */
.contact__container {
  position: relative;
}

@media (min-width: 576px) and (max-width: 767px) {
  .contact__form {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 575px) {
  .contact__form {
    margin: 0 auto;
  }
}

.contact__list {
  text-align: center;
}

.contact__row {
  display: flex;
  margin-bottom: 48px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact__row {
    display: block;
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 575px) {
  .contact__row {
    display: block;
    margin-bottom: 32px;
  }
}

.contact__label {
  font-weight: bold;
  position: relative;
  flex: 0 0 225px;
  font-family: "Bruno Ace", cursive;
  text-align: left;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact__label {
    text-align: left;
    padding: 0.5em 0;
    width: 150px;
  }
}
@media only screen and (max-width: 575px) {
  .contact__label {
    text-align: left;
    padding: 0.5em 0;
    width: 150px;
  }
}

.contact__required {
  display: inline-block;
  border: 1px solid #fffdf7;
  border-radius: 50%;
  background: none;
  font: inherit;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact__required {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 575px) {
  .contact__required {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 0.875rem;
  }
}

.contact__input {
  flex: 1 1 600px;
  margin-left: 32px;
  position: relative;
  transition: all 0.5s ease 0s;
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact__input {
    margin-left: 0;
  }
}
@media only screen and (max-width: 575px) {
  .contact__input {
    margin-left: 0;
  }
}
.contact__input.is-error::before, .contact__input.is-error::after {
  position: absolute;
  display: inline-block;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  line-height: 30px;
  font-size: 0.75rem;
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact__input.is-error::before, .contact__input.is-error::after {
    display: block;
    left: 0;
    transform: none;
    text-align: left;
  }
}
@media only screen and (max-width: 575px) {
  .contact__input.is-error::before, .contact__input.is-error::after {
    display: block;
    left: 0;
    transform: none;
    text-align: left;
  }
}

.name--error.is-error::before {
  content: "2文字以上で入力してください";
  width: 100%;
  -webkit-animation: errorText 0.5s ease forwards;
          animation: errorText 0.5s ease forwards;
}
.name--error.is-error::after {
  content: "";
  width: 165px;
  -webkit-animation: errorBorder 0.5s ease forwards;
          animation: errorBorder 0.5s ease forwards;
}
@-webkit-keyframes errorBorder {
  from {
    width: 0;
  }
  to {
    width: 165px;
  }
}
@keyframes errorBorder {
  from {
    width: 0;
  }
  to {
    width: 165px;
  }
}

.email--error.is-error::before {
  content: "半角英数字で〇〇@〇〇で入力してください";
  width: 100%;
  -webkit-animation: errorText 0.5s ease forwards;
          animation: errorText 0.5s ease forwards;
}
.email--error.is-error::after {
  content: "";
  width: 240px;
  -webkit-animation: errorBorder2 0.5s ease forwards;
          animation: errorBorder2 0.5s ease forwards;
}
@-webkit-keyframes errorBorder2 {
  from {
    width: 0;
  }
  to {
    width: 240px;
  }
}
@keyframes errorBorder2 {
  from {
    width: 0;
  }
  to {
    width: 240px;
  }
}

.textarea--error.is-error::before {
  content: "10文字以上で入力してください";
  width: 100%;
  bottom: -30px;
  -webkit-animation: errorText 0.5s ease forwards;
          animation: errorText 0.5s ease forwards;
}
.textarea--error.is-error::after {
  content: "";
  width: 170px;
  -webkit-animation: errorBorder3 0.5s ease forwards;
          animation: errorBorder3 0.5s ease forwards;
}
@-webkit-keyframes errorBorder3 {
  from {
    width: 0;
  }
  to {
    width: 170px;
  }
}
@keyframes errorBorder3 {
  from {
    width: 0;
  }
  to {
    width: 170px;
  }
}

@-webkit-keyframes errorText {
  from {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes errorText {
  from {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
[type=text] {
  position: relative;
  font-family: inherit;
  line-height: 40px;
  width: 100%;
  height: 40px;
  padding: 2.5%;
  transition: all 0.2s ease 0s;
  border: none;
  border-bottom: 1px solid #77cdff;
  color: #fffdf7;
  background: transparent;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
[type=text]::-moz-placeholder {
  color: rgba(255, 253, 247, 0.7);
}
[type=text]::placeholder {
  color: rgba(255, 253, 247, 0.7);
}
[type=text].is-error {
  border-bottom: 1px solid #ff7a7a;
}
[type=text]:hover, [type=text]:focus {
  box-shadow: 0px 8px 10px -10px #77cdff;
}
@media (min-width: 576px) and (max-width: 767px) {
  [type=text] {
    height: 30px;
    line-height: 30px;
    padding: 2.5% 2.5% 2.5% 0;
  }
}
@media only screen and (max-width: 575px) {
  [type=text] {
    height: 30px;
    line-height: 30px;
    padding: 2.5% 2.5% 2.5% 0;
  }
}

[type=email] {
  font-family: inherit;
  line-height: 40px;
  width: 100%;
  height: 40px;
  padding: 2.5%;
  transition: all 0.2s ease 0s;
  border: none;
  border-bottom: 1px solid #77cdff;
  color: #fffdf7;
  background: transparent;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
[type=email]::-moz-placeholder {
  color: rgba(255, 253, 247, 0.7);
}
[type=email]::placeholder {
  color: rgba(255, 253, 247, 0.7);
}
[type=email].is-error {
  border-bottom: 1px solid #ff7a7a;
}
[type=email]:hover, [type=email]:focus {
  box-shadow: 0px 8px 10px -10px #77cdff;
}
@media (min-width: 576px) and (max-width: 767px) {
  [type=email] {
    height: 30px;
    line-height: 30px;
    padding: 2.5% 2.5% 2.5% 0;
  }
}
@media only screen and (max-width: 575px) {
  [type=email] {
    height: 30px;
    line-height: 30px;
    padding: 2.5% 2.5% 2.5% 0;
  }
}

textarea {
  font-family: inherit;
  width: 100%;
  height: 240px;
  min-height: 240px;
  padding: 2.5%;
  resize: none;
  transition: all 0.2s ease 0s;
  border: none;
  border: 1px solid #77cdff;
  border-radius: 20px;
  color: #fffdf7;
  background: transparent;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
textarea.is-error {
  border: 1px solid #ff7a7a;
}
textarea:hover, textarea:focus {
  box-shadow: 0 0 10px #77cdff;
}
@media (min-width: 576px) and (max-width: 767px) {
  textarea {
    height: 300px;
    min-height: 100px;
    max-width: 700px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 575px) {
  textarea {
    height: 200px;
    min-height: 100px;
    max-width: 700px;
    border-radius: 10px;
  }
}

.contact__submit {
  font-weight: bold;
  display: inline-block;
  transition: all 0.2s ease 0s;
  text-align: center;
  background: #3e3e3e;
  border: 1px solid #77cdff;
  border-radius: 5px;
}
.contact__submit [type=submit] {
  font-family: inherit;
  font-size: 1.25rem;
  padding: 10px;
  width: 200px;
  text-align: center;
  color: #fffdf7;
  border: none;
  background: transparent;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.contact__submit.is-disabled {
  pointer-events: none;
  background: #b2b2b2;
  border: 1px solid #3e3e3e;
}
@media (min-width: 1200px) {
  .contact__submit:focus-within {
    outline: none;
    box-shadow: 0 0 20px #77cdff;
  }
  .contact__submit:hover {
    background: #000a14;
    box-shadow: 0 0 10px #77cdff;
  }
}

.contact__message {
  display: none;
  margin-top: 32px;
  text-align: center;
  background: rgba(0, 0, 0, 0.95);
}

.contact__text {
  display: inline-block;
  padding: 20%;
  font-weight: bold;
  border-radius: 20px;
}
.contact__text br {
  display: block;
  margin-bottom: 16px;
  content: "";
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact__text {
    border-radius: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .contact__text {
    border-radius: 10px;
  }
}

/* page-top
トップへ戻るアイコン
------------------------------ */
#page-top {
  position: fixed;
  z-index: 100;
  right: 10px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  transition: all 0.5s ease 0s;
  background: transparent;
}

.page-top__icon {
  font-size: 40px;
  color: #fffdf7;
  transition: all 0.5s ease 0s;
  opacity: 0.7;
}

/* footer
------------------------------ */
.footer {
  position: fixed;
  z-index: 50;
  bottom: 0;
  width: 100%;
  height: 50px;
  opacity: 0.5;
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer {
    position: static;
    height: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .footer {
    position: static;
    height: 30px;
  }
}

.footer__copyright {
  font-size: 10px;
  font-family: "Bruno Ace", cursive;
  padding-top: 16px;
  text-align: center;
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer__copyright {
    padding-top: 8px;
  }
}
@media only screen and (max-width: 575px) {
  .footer__copyright {
    padding-top: 8px;
  }
}