/* ====================================
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
このCSSファイルはSassから生成されていますので、
編集しないようご注意ください。
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
==================================== */

/* import
============================== */

/* color-scheme
============================== */

/* font
============================== */

/* media-query
============================== */

/* function
============================== */

/* z-index
============================== */

/* common
============================== */

html {
	font-size: 16px;
}

body {
	color: #fffdf7;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	font-weight: normal;
	line-height: 1.5;
}

#wrapper {
	overflow: auto;
	position: relative;
	z-index: 1;
}

section {
	height: 100%;
	padding-bottom: 100px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 100px;
	width: 100%;
}

.container {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	width: 100%;
}

.section__ttl {
	display: inline-block;
	font-family: "Bruno Ace", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	font-size: 5.625rem;
	font-weight: 500;
	margin-bottom: 64px;
	position: relative;
}

img {
	width: 100%;
}

button {
	cursor: pointer;
}

button:focus {
	outline: none;
}

a:focus,
input:focus,
textarea:focus {
	outline: none;
}

.font--jp {
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.text--bold {
	color: #ffea1e;
	font-weight: bold;
	text-shadow: 0 0 20px #ffea1e;
}

/* blank-decoration
------------------------------ */

.contents--blank {
	align-items: center;
	aspect-ratio: 1/1;
	border-radius: 50%;
	display: flex;
	height: auto;
	justify-content: center;
}

:root {
	--mercury-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/mercury2.jpg);
	--mercury-tilt: rotate(0.034deg);
	--mercury-day: 1407.6;
	--mercury-color: #999999;
	--venus-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/venus2.jpg);
	--venus-tilt: rotate(177.3deg);
	--venus-day: 5832.5;
	--venus-color: #e8cda2;
	--earth-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/earth.jpg);
	--earth-tilt: rotate(23.26deg);
	--earth-day: 23.9;
	--earth-color: #b3caff;
	--mars-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/mars.jpg);
	--mars-tilt: rotate(25.2deg);
	--mars-day: 24.6;
	--mars-color: #c07158;
	--jupiter-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/jupiter.jpg);
	--jupiter-tilt: rotate(3.1deg);
	--jupiter-day: 9.9;
	--jupiter-color: #c9b5a4;
	--saturn-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/saturn.jpg);
	--saturn-tilt: rotate(26.7deg);
	--saturn-day: 10.7;
	--saturn-color: #f0e2c4;
	--uranus-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/uranus2.jpg);
	--uranus-tilt: rotate(97.8deg);
	--uranus-day: 17.2;
	--uranus-color: #b8d8e1;
	--neptune-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/neptune.jpg);
	--neptune-tilt: rotate(28.3deg);
	--neptune-day: 16.1;
	--neptune-color: #5e73bb;
	--pluto-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/pluto.jpg);
	--pluto-tilt: rotate(122.5deg);
	--pluto-day: 153.3;
	--pluto-color: #c3b6aa;
	--sun-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/sun.jpg);
	--sun-tilt: rotate(0deg);
	--sun-day: 600;
	--sun-color: #cc9f4c;
}

.card {
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
}

.card--mercury .planet__atmosphere {
	box-shadow: inset 10px 0px 12px -2px rgba(255, 255, 255, 0.2), inset -70px 0px 50px 0px black, -5px 0px 10px -4px var(--mercury-color);
}

.card--mercury .planet__surface {
	animation: planetRotate calc(var(--mercury-day) * 1s) linear infinite;
	background-image: var(--mercury-image);
	transform: var(--mercury-tilt) scale(1.2);
}

.card--mercury .card__planet::before {
	border-color: var(--mercury-color);
	color: var(--mercury-color);
	transform: var(--mercury-tilt) scale(1.2);
}

.card--mercury .tilt__icon {
	color: var(--mercury-color);
	transform: var(--mercury-tilt);
}

.card--venus .planet__atmosphere {
	box-shadow: inset 10px 0px 12px -2px rgba(255, 255, 255, 0.2), inset -70px 0px 50px 0px black, -5px 0px 10px -4px var(--venus-color);
}

.card--venus .planet__surface {
	animation: planetRotate calc(var(--venus-day) * 1s) linear infinite;
	background-image: var(--venus-image);
	transform: var(--venus-tilt) scale(1.2);
}

.card--venus .card__planet::before {
	border-color: var(--venus-color);
	color: var(--venus-color);
	transform: var(--venus-tilt) scale(1.2);
}

.card--venus .tilt__icon {
	color: var(--venus-color);
	transform: var(--venus-tilt);
}

.card--earth .planet__atmosphere {
	box-shadow: inset 10px 0px 12px -2px rgba(255, 255, 255, 0.2), inset -70px 0px 50px 0px black, -5px 0px 10px -4px var(--earth-color);
}

.card--earth .planet__surface {
	animation: planetRotate calc(var(--earth-day) * 1s) linear infinite;
	background-image: var(--earth-image);
	transform: var(--earth-tilt) scale(1.2);
}

.card--earth .card__planet::before {
	border-color: var(--earth-color);
	color: var(--earth-color);
	transform: var(--earth-tilt) scale(1.2);
}

.card--earth .tilt__icon {
	color: var(--earth-color);
	transform: var(--earth-tilt);
}

.card--mars .planet__atmosphere {
	box-shadow: inset 10px 0px 12px -2px rgba(255, 255, 255, 0.2), inset -70px 0px 50px 0px black, -5px 0px 10px -4px var(--mars-color);
}

.card--mars .planet__surface {
	animation: planetRotate calc(var(--mars-day) * 1s) linear infinite;
	background-image: var(--mars-image);
	transform: var(--mars-tilt) scale(1.2);
}

.card--mars .card__planet::before {
	border-color: var(--mars-color);
	color: var(--mars-color);
	transform: var(--mars-tilt) scale(1.2);
}

.card--mars .tilt__icon {
	color: var(--mars-color);
	transform: var(--mars-tilt);
}

.card--jupiter .planet__atmosphere {
	box-shadow: inset 10px 0px 12px -2px rgba(255, 255, 255, 0.2), inset -70px 0px 50px 0px black, -5px 0px 10px -4px var(--jupiter-color);
}

.card--jupiter .planet__surface {
	animation: planetRotate calc(var(--jupiter-day) * 1s) linear infinite;
	background-image: var(--jupiter-image);
	transform: var(--jupiter-tilt) scale(1.2);
}

.card--jupiter .card__planet::before {
	border-color: var(--jupiter-color);
	color: var(--jupiter-color);
	transform: var(--jupiter-tilt) scale(1.2);
}

.card--jupiter .tilt__icon {
	color: var(--jupiter-color);
	transform: var(--jupiter-tilt);
}

.card--saturn .planet__atmosphere {
	box-shadow: inset 10px 0px 12px -2px rgba(255, 255, 255, 0.2), inset -70px 0px 50px 0px black, -5px 0px 10px -4px var(--saturn-color);
}

.card--saturn .planet__surface {
	animation: planetRotate calc(var(--saturn-day) * 1s) linear infinite;
	background-image: var(--saturn-image);
	transform: var(--saturn-tilt) scale(1.2);
}

.card--saturn .card__planet::before {
	border-color: var(--saturn-color);
	color: var(--saturn-color);
	transform: var(--saturn-tilt) scale(1.2);
}

.card--saturn .tilt__icon {
	color: var(--saturn-color);
	transform: var(--saturn-tilt);
}

.card--uranus .planet__atmosphere {
	box-shadow: inset 10px 0px 12px -2px rgba(255, 255, 255, 0.2), inset -70px 0px 50px 0px black, -5px 0px 10px -4px var(--uranus-color);
}

.card--uranus .planet__surface {
	animation: planetRotate calc(var(--uranus-day) * 1s) linear infinite;
	background-image: var(--uranus-image);
	transform: var(--uranus-tilt) scale(1.2);
}

.card--uranus .card__planet::before {
	border-color: var(--uranus-color);
	color: var(--uranus-color);
	transform: var(--uranus-tilt) scale(1.2);
}

.card--uranus .tilt__icon {
	color: var(--uranus-color);
	transform: var(--uranus-tilt);
}

.card--neptune .planet__atmosphere {
	box-shadow: inset 10px 0px 12px -2px rgba(255, 255, 255, 0.2), inset -70px 0px 50px 0px black, -5px 0px 10px -4px var(--neptune-color);
}

.card--neptune .planet__surface {
	animation: planetRotate calc(var(--neptune-day) * 1s) linear infinite;
	background-image: var(--neptune-image);
	transform: var(--neptune-tilt) scale(1.2);
}

.card--neptune .card__planet::before {
	border-color: var(--neptune-color);
	color: var(--neptune-color);
	transform: var(--neptune-tilt) scale(1.2);
}

.card--neptune .tilt__icon {
	color: var(--neptune-color);
	transform: var(--neptune-tilt);
}

.card--pluto .planet__atmosphere {
	box-shadow: inset 10px 0px 12px -2px rgba(255, 255, 255, 0.2), inset -70px 0px 50px 0px black, -5px 0px 10px -4px var(--pluto-color);
}

.card--pluto .planet__surface {
	animation: planetRotate calc(var(--pluto-day) * 1s) linear infinite;
	background-image: var(--pluto-image);
	transform: var(--pluto-tilt) scale(1.2);
}

.card--pluto .card__planet::before {
	border-color: var(--pluto-color);
	color: var(--pluto-color);
	transform: var(--pluto-tilt) scale(1.2);
}

.card--pluto .tilt__icon {
	color: var(--pluto-color);
	transform: var(--pluto-tilt);
}

.card--sun .planet__atmosphere {
	box-shadow: inset 10px 0px 12px -2px rgba(255, 255, 255, 0.2), inset -70px 0px 50px 0px black, -5px 0px 10px -4px var(--sun-color);
}

.card--sun .planet__surface {
	animation: planetRotate calc(var(--sun-day) * 1s) linear infinite;
	background-image: var(--sun-image);
	transform: var(--sun-tilt) scale(1.2);
}

.card--sun .card__planet::before {
	border-color: var(--sun-color);
	color: var(--sun-color);
	transform: var(--sun-tilt) scale(1.2);
}

.card--sun .tilt__icon {
	color: var(--sun-color);
	transform: var(--sun-tilt);
}

.card__planet::before {
	content: "";
	height: 100px;
	left: 50%;
	position: absolute;
	top: 0%;
	z-index: -2;
}

.planet__atmosphere {
	background: radial-gradient(circle at 30% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 65%);
	border-radius: 100px;
	height: 100px;
	overflow: hidden;
	position: relative;
	width: 100px;
}

.planet__surface {
	background-size: cover;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.card--sun .planet__atmosphere {
	box-shadow: 0px 0px 10px 0px var(--sun-color), 0px 0px 1000px -2px var(--sun-color);
}

/* splash ローディング時のアニメーション
============================== */

#splash {
	background: transparent;
	height: 100%;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 999;
}

#space {
	width: 100%;
}

#splash__text {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: inherit;
}

#splash__text svg {
	height: 2px;
}

/* background 背景の星のアニメーション
============================== */

#particles-js {
	background-color: rgb(0, 10, 20);
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: -1;
}

/* header
------------------------------ */

.header {
	align-items: center;
	display: flex;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	height: 50px;
	justify-content: space-between;
	padding: 0 5%;
	position: fixed;
	width: 100%;
	z-index: 50;
}

.header.is-open {
	transform: translateY(-60px);
}

.header__logo {
	font-family: "Bruno Ace", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	font-size: 1.5rem;
	line-height: 1;
}

#nav__list {
	display: flex;
	justify-content: space-between;
}

.nav__item {
	position: relative;
}

.nav__item + .nav__item {
	margin-left: 10px;
}

.nav__link {
	font-family: "Bruno Ace", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	font-size: 1.25rem;
	padding: 10px;
	position: relative;
}

.nav__link::before {
	border-left: 1px solid #77cdff;
	border-top: 1px solid #77cdff;
	content: "";
	height: 50%;
	left: 100%;
	opacity: 0;
	position: absolute;
	top: 5px;
	transform: translateX(-100%);
	width: 100%;
}

.nav__link::after {
	border-bottom: 1px solid #77cdff;
	border-right: 1px solid #77cdff;
	bottom: 5px;
	content: "";
	height: 50%;
	left: 5px;
	opacity: 0;
	position: absolute;
	width: 100%;
}

.nav__link.is-active::before,
.nav__link.is-active::after {
	animation: navHover 0.5s ease forwards;
	opacity: 1;
}

.nav__link:hover::before,
.nav__link:hover::after,
.nav__link:focus::before,
.nav__link:focus::after {
	animation: navHover 0.5s ease forwards;
	opacity: 1;
}

.header__hamburger {
	height: 30px;
	width: 30px;
	z-index: 999;
}

.hamburger__menu {
	background: transparent;
	height: 30px;
	position: relative;
	width: 30px;
}

.hamburger__icon {
	background: #fffdf7;
	display: block;
	height: 2px;
	position: absolute;
	transition: all 0.5s ease 0s;
	width: 30px;
}

.hamburger__icon.is-open {
	transform: rotate(45deg);
	width: 25px;
}

.hamburger__icon:nth-child(1) {
	top: 6px;
}

.hamburger__icon:nth-child(1).is-open {
	top: 15px;
}

.hamburger__icon:nth-child(2) {
	top: 15px;
}

.hamburger__icon:nth-child(2).is-open {
	transform: rotate(-45deg);
}

.hamburger__icon:nth-child(3) {
	top: 24px;
}

.hamburger__icon:nth-child(3).is-open {
	top: 15px;
	transform: rotate(-405deg);
}

.drawer-background {
	background: rgba(0, 0, 0, 0.6);
	height: 100vh;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(110%);
	transition: all 0.5s ease 0s;
	width: 100%;
	z-index: 3;
}

.drawer-background.is-open {
	opacity: 1;
	transform: translateX(0);
}

/* top
------------------------------ */

#top {
	height: 100vh;
	position: relative;
}

.top__ttl {
	color: #ffea1e;
	font-family: "Bruno Ace", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	font-size: 10rem;
	position: absolute;
	text-shadow: 0 0 20px #ffea1e;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}

.scrolldown {
	animation: scrolldownMove 1s ease-in-out infinite;
	background: url(../img/index/scrolldown.png) no-repeat center center/contain;
	bottom: 75px;
	display: none;
	height: 40px;
	position: absolute;
	right: 50px;
	width: 40px;
}

.icons8__link {
	bottom: 0;
	font-family: "Bruno Ace", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	font-size: 0.25rem;
	left: 0;
	opacity: 0.5;
	position: absolute;
	writing-mode: vertical-lr;
}

.icons__link {
	display: inline-block;
}

/* concept
------------------------------ */

.concept__desc:not(:last-child) {
	margin-bottom: 16px;
}

/* about
------------------------------ */

.about__container {
	margin: 0 auto;
	width: 100%;
}

.about__row {
	display: flex;
	gap: 2.5%;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1000px;
}

.about__big-img {
	backface-visibility: hidden;
	border: 1px solid transparent;
	perspective: 1000px;
	position: relative;
	width: 100%;
}

.big-img {
	-o-object-fit: cover;
	-o-object-position: bottom;
	object-fit: cover;
	object-position: bottom;
}

.about__desc {
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	text-shadow: -1px -1px 0 #3e3e3e, -1px 0 0 #3e3e3e, -1px 1px 0 #3e3e3e, 0 -1px 0 #3e3e3e, 0 1px 0 #3e3e3e, 1px -1px 0 #3e3e3e, 1px 0 0 #3e3e3e, 1px 1px 0 #3e3e3e;
	top: 0;
	width: 100%;
}

.about__headline {
	display: inline-block;
	font-family: "Bruno Ace", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	font-size: 2.5rem;
	padding: 0 2.5%;
}

.about__txt {
	bottom: 2.5%;
	display: inline-block;
	font-family: "Bruno Ace", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	left: 2.5%;
	padding: 2.5%;
	position: absolute;
}

.desc__job {
	display: block;
}

.desc__like dt {
	left: 45%;
	position: absolute;
	top: 40%;
}

.desc__like dd {
	background: none;
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

.desc__like dd ul {
	display: block;
	height: 100%;
	width: 100%;
}

.text__like {
	font-family: "Bruno Ace", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	padding: 10px;
	position: absolute;
}

.text__like:nth-child(1) {
	top: 48%;
}

.text__like:nth-child(2) {
	right: 5%;
	top: 30%;
}

.text__like:nth-child(3) {
	bottom: 2.5%;
}

.text__like:nth-child(4) {
	bottom: 2.5%;
	right: 2.5%;
	width: 37.5%;
}

.desc__target dd {
	bottom: 25%;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	font-size: 1.5rem;
}

.about__list {
	display: flex;
	flex: 0 1 18%;
	flex-direction: column;
	gap: 15px;
}

.about__tab {
	aspect-ratio: 165/165;
	border: 1px solid transparent;
	border-radius: 50%;
	display: block;
	filter: grayscale(100%);
	height: 125px;
	overflow: hidden;
	position: relative;
	transition: all 0.2s ease 0s;
	width: 125px;
}

.about__tab:hover,
.about__tab:focus {
	box-shadow: 0 0 10px #77cdff;
	filter: grayscale(0%);
}

.about__wrapper {
	height: 100%;
	width: 100%;
}

.about__img {
	padding-top: 100%;
	transform: rotate(15deg);
}

.img__job {
	background: url(../img/index/about1.png) no-repeat center center/cover;
}

.img__live {
	background: url(../img/index/about2.jpg) no-repeat center center/cover;
}

.img__like {
	background: url(../img/index/about3-1.png) no-repeat center center/cover;
}

.img__target {
	background: url(../img/index/about4-1.png) no-repeat center center/cover;
}

/* service
------------------------------ */

.service__container {
	margin-bottom: 32px;
}

.service__list {
	display: grid;
	gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: repeat(3, 1fr);
	height: 80%;
	margin: 0 auto;
	place-content: center;
}

.service__contents {
	align-self: center;
	aspect-ratio: 1/1;
	justify-self: center;
}

.service__blog {
	grid-area: 1/3/2/4;
}

.service__support {
	grid-area: 2/2/3/3;
}

.service__link {
	background: transparent;
	border-radius: 50%;
	display: block;
	height: 100%;
	overflow: hidden;
	transition: all 0.2s ease 0s;
	width: 100%;
}

.service__link:hover,
.service__link:focus {
	box-shadow: 0 0 10px #77cdff;
}

.service__link:hover .service__wrapper,
.service__link:focus .service__wrapper {
	filter: grayscale(0%);
}

.service__wrapper {
	aspect-ratio: 1/1;
	border-radius: 50%;
	filter: grayscale(100%);
	height: 150px;
	transition: all 0.2s ease 0s;
	width: 150px;
}

.service__img {
	padding-top: 100%;
	transform: rotate(15deg);
}

.img__web {
	background: url(../img/index/service1.jpg) repeat-x center center/cover;
}

.img__cording {
	background: url(../img/index/service2.jpg) repeat-x center center/cover;
}

.img__ope {
	background: url(../img/index/service3.jpg) repeat-x center center/cover;
}

.service__modal {
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 900;
}

.service__modal.is-open {
	display: block;
}

.modal__overlay {
	align-items: center;
	background: rgba(0, 0, 0, 0.95);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.modal__container {
	border: 1px solid #77cdff;
	max-width: 1000px;
	padding: 2.5% 5%;
	width: 70%;
}

.modal__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 32px;
	width: 100%;
}

.modal__ttl {
	font-size: 1.5rem;
	font-weight: bold;
}

.modal__close {
	background: transparent;
}

.modal__close:hover,
.modal__close:focus {
	outline: none;
}

.modal__close:hover .close__icon,
.modal__close:focus .close__icon {
	box-shadow: 0 0 10px #77cdff;
	opacity: 1;
	transform: scale(1.1);
}

.close__icon {
	border-radius: 50%;
	color: #fffdf7;
	font-size: 1.5rem;
	opacity: 0.7;
	transition: all 0.5s ease 0s;
}

.modal__img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 400px;
	object-fit: cover;
	object-position: center;
}

.modal__txt {
	margin-top: 16px;
}

.modal__txt.txt--long {
	text-align: left;
}

.service__modal[aria-hidden=false] .modal__overlay {
	animation: mmfadeIn 0.5s ease;
}

.service__modal[aria-hidden=false] .modal__container {
	animation: mmslideIn 0.5s ease;
}

.service__modal[aria-hidden=true] .modal__overlay {
	animation: mmfadeOut 0.5s ease;
}

.service__modal[aria-hidden=true] .modal__container {
	animation: mmslideOut 0.5s ease;
}

/* works
------------------------------ */

.works__links {
	display: grid;
	gap: 40px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.works__link {
	border: 1px solid transparent;
	display: block;
	transition: all 0.2s ease 0s;
}

.works__link:hover,
.works__link:focus {
	border: 1px solid #77cdff;
}

.works__link:hover img,
.works__link:focus img {
	filter: none;
	transform: scale(1.1);
}

.works__link:hover .works__btn,
.works__link:focus .works__btn {
	transform: scale(1.05);
}

.works__figure {
	overflow: hidden;
}

.works__img {
	-o-object-fit: cover;
	-o-object-position: bottom;
	filter: grayscale(100%);
	height: 61.8%;
	object-fit: cover;
	object-position: bottom;
	padding-bottom: 32px;
	padding-top: 32px;
	transition: all 0.5s ease 0s;
	width: 100%;
}

.works__more {
	text-align: center;
}

/* contact
------------------------------ */

.contact__container {
	position: relative;
}

.contact__list {
	text-align: center;
}

.contact__row {
	display: flex;
	margin-bottom: 48px;
}

.contact__label {
	align-items: center;
	backface-visibility: hidden;
	display: flex;
	flex: 0 0 225px;
	font-family: "Bruno Ace", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	font-weight: bold;
	height: 42px;
	justify-content: space-between;
	perspective: 1000;
	position: relative;
	text-align: left;
}

.contact__required {
	background: none;
	border: 1px solid #fffdf7;
	display: inline-block;
	font: inherit;
	margin: 0 1em 0;
	padding: 0.5em;
	text-align: center;
	width: 80px;
}

.contact__input {
	flex: 1 1 600px;
	margin-left: 32px;
	position: relative;
	transition: all 0.5s ease 0s;
}

.contact__input.is-error::before,
.contact__input.is-error::after {
	bottom: -30px;
	display: inline-block;
	font-size: 0.75rem;
	font-weight: bold;
	height: 30px;
	left: 50%;
	line-height: 30px;
	position: absolute;
	transform: translateX(-50%);
}

.name--error.is-error::before {
	animation: errorText 0.5s ease forwards;
	content: "2文字以上で入力してください";
	width: 100%;
}

.name--error.is-error::after {
	animation: errorBorder 0.5s ease forwards;
	border-bottom: 2px solid #ff7a7a;
	content: "";
	width: 165px;
}

.email--error.is-error::before {
	animation: errorText 0.5s ease forwards;
	content: "半角英数字で〇〇@〇〇で入力してください";
	width: 100%;
}

.email--error.is-error::after {
	animation: errorBorder2 0.5s ease forwards;
	border-bottom: 2px solid #ff7a7a;
	content: "";
	width: 240px;
}

.textarea--error.is-error::before {
	animation: errorText 0.5s ease forwards;
	bottom: -30px;
	content: "10文字以上で入力してください";
	width: 100%;
}

.textarea--error.is-error::after {
	animation: errorBorder3 0.5s ease forwards;
	border-bottom: 2px solid #ff7a7a;
	content: "";
	width: 170px;
}

[type=text] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-bottom: 1px solid #77cdff;
	box-shadow: none;
	color: #fffdf7;
	font-family: inherit;
	height: 40px;
	line-height: 40px;
	padding: 2.5%;
	position: relative;
	transition: all 0.2s ease 0s;
	width: 100%;
}

[type=text]::-moz-placeholder {
	color: rgba(255, 253, 247, 0.7);
}

[type=text]::placeholder {
	color: rgba(255, 253, 247, 0.7);
}

[type=text].is-error {
	border: none;
	box-shadow: 0 0 10px #ff7a7a;
}

[type=text]:hover,
[type=text]:focus {
	box-shadow: 0 0 10px #77cdff;
}

[type=email] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-bottom: 1px solid #77cdff;
	box-shadow: none;
	color: #fffdf7;
	font-family: inherit;
	height: 40px;
	line-height: 40px;
	padding: 2.5%;
	transition: all 0.2s ease 0s;
	width: 100%;
}

[type=email]::-moz-placeholder {
	color: rgba(255, 253, 247, 0.7);
}

[type=email]::placeholder {
	color: rgba(255, 253, 247, 0.7);
}

[type=email].is-error {
	border: none;
	box-shadow: 0 0 10px #ff7a7a;
}

[type=email]:hover,
[type=email]:focus {
	box-shadow: 0 0 10px #77cdff;
}

textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border: 1px solid #77cdff;
	box-shadow: none;
	color: #fffdf7;
	font-family: inherit;
	height: 240px;
	min-height: 240px;
	padding: 2.5%;
	resize: none;
	transition: all 0.2s ease 0s;
	width: 100%;
}

textarea.is-error {
	border: none;
	box-shadow: 0 0 10px #ff7a7a;
}

textarea:hover,
textarea:focus {
	box-shadow: 0 0 10px #77cdff;
}

.contact__submit {
	background: #3e3e3e;
	border: 1px solid #77cdff;
	border-radius: 5px;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	transition: all 0.2s ease 0s;
}

.contact__submit [type=submit] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	box-shadow: none;
	color: #fffdf7;
	font-family: inherit;
	font-size: 1.25rem;
	padding: 10px;
	text-align: center;
	width: 200px;
}

.contact__submit.is-disabled {
	background: #b2b2b2;
	border: 1px solid #3e3e3e;
	pointer-events: none;
}

.contact__message {
	background: rgba(0, 0, 0, 0.95);
	display: none;
	margin-top: 32px;
	text-align: center;
}

.contact__text {
	border-radius: 20px;
	display: inline-block;
	font-weight: bold;
	padding: 20%;
}

.contact__text br {
	content: "";
	display: block;
	margin-bottom: 16px;
}

/* page-top
トップへ戻るアイコン
------------------------------ */

#page-top {
	background: transparent;
	bottom: 30px;
	height: 40px;
	position: fixed;
	right: 10px;
	transition: all 0.5s ease 0s;
	width: 40px;
	z-index: 100;
}

.page-top__icon {
	color: #fffdf7;
	font-size: 40px;
	opacity: 0.7;
	transition: all 0.5s ease 0s;
}

/* footer
------------------------------ */

.footer {
	bottom: 0;
	height: 50px;
	opacity: 0.5;
	position: fixed;
	width: 100%;
	z-index: 50;
}

.footer__copyright {
	font-family: "Bruno Ace", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	font-size: 12px;
	padding-top: 16px;
	text-align: center;
}

@media (min-width: 576px) and (max-width: 767px) {

.is-tab,
.is-pc {
	display: none;
}

section {
	padding-bottom: 75px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 75px;
}

.section__ttl {
	font-size: 2.5rem;
}

.card__planet::before {
	height: 50px;
}

.planet__atmosphere {
	height: 50px;
	width: 50px;
}

.header {
	height: 30px;
	padding: 0 10px;
}

.header__logo {
	margin-top: 3px;
}

.header__nav {
	align-items: center;
	display: flex;
	justify-content: center;
	position: fixed;
}

.header__nav.is-open {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}

#nav__list {
	display: none;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	text-align: center;
}

#nav__list.is-open {
	animation: drawerNavAnime 0.8s ease 0.5s forwards;
	display: block;
	z-index: 999;
}

.nav__item {
	margin-bottom: 32px;
}

.nav__item + .nav__item {
	margin-left: 0;
}

.nav__item:not(:last-child)::before {
	background: #77cdff;
	bottom: -16px;
	content: "";
	height: 1px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 80px;
}

.top__ttl {
	height: auto;
	margin-bottom: 2.5%;
	padding: 32px 0;
	transform: translateY(-50%);
}

.scrolldown {
	bottom: 100px;
}

.concept__desc {
	font-size: 0.75rem;
}

.about__row {
	flex-direction: column;
}

.about__big-img {
	margin-bottom: 2.5%;
}

.about__headline {
	font-size: 2rem;
}

.text__like {
	font-size: 0.5rem;
}

.about__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.about__list > li:nth-child(odd) {
	justify-self: start;
}

.about__list > li:nth-child(even) {
	justify-self: end;
}

.about__job {
	grid-area: 1/1/2/2;
}

.about__live {
	grid-area: 1/2/2/3;
}

.about__like {
	grid-area: 2/2/3/3;
}

.about__target {
	grid-area: 2/3/3/4;
}

.about__tab {
	height: 100px;
	width: 100px;
}

.service__list {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	place-items: center;
}

.service__website {
	grid-area: 1/3/2/4;
}

.service__blog {
	grid-area: 2/2/3/3;
}

.service__support {
	grid-area: 3/1/4/2;
}

.service__wrapper {
	height: 100px;
	width: 100px;
}

.modal__container {
	width: calc(100% - 20px);
}

.modal__header {
	margin-bottom: 16px;
}

.modal__ttl {
	font-size: 1.125rem;
}

.modal__img {
	height: auto;
}

.modal__txt {
	font-size: 0.75rem;
}

.works__links {
	gap: 20px;
}

.contact__form {
	margin: 0 auto;
}

.contact__row {
	display: block;
	margin-bottom: 32px;
}

.contact__label {
	padding: 0.5em 2em 0.5em 0;
	text-align: left;
}

.contact__required {
	margin: 0;
	padding: 0.1em;
}

.contact__input {
	margin-left: 0;
}

.contact__input.is-error::before,
.contact__input.is-error::after {
	display: block;
	left: 0;
	text-align: left;
	transform: none;
}

[type=text] {
	height: 30px;
	line-height: 30px;
}

[type=email] {
	height: 30px;
	line-height: 30px;
}

textarea {
	height: 100px;
	max-width: 700px;
	min-height: 100px;
}

.footer {
	height: 30px;
	position: static;
}

.footer__copyright {
	padding-top: 9px;
}

}

@media (min-width: 768px) and (max-width: 991px) {

.is-sp,
.is-pc {
	display: none;
}

.text__like {
	font-size: 0.75rem;
}

.desc__target dd {
	font-size: 1.125rem;
}

.about__tab {
	height: 100px;
	width: 100px;
}

}

@media (min-width: 992px) and (max-width: 1199px) {

.is-sp,
.is-pc {
	display: none;
}

}

@media (min-width: 1200px) {

.is-sp,
.is-tab {
	display: none;
}

.contact__submit:focus-within {
	box-shadow: 0 0 20px #77cdff;
	outline: none;
}

.contact__submit:hover {
	background: rgb(0, 10, 20);
	box-shadow: 0 0 10px #77cdff;
}

}

@media only screen and (max-width: 575px) {

.is-tab,
.is-pc {
	display: none;
}

section {
	padding-bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 50px;
}

.section__ttl {
	font-size: 2rem;
}

.card__planet::before {
	height: 50px;
}

.planet__atmosphere {
	height: 50px;
	width: 50px;
}

.header {
	height: 30px;
	padding: 0 10px;
}

.header__logo {
	margin-top: 3px;
}

.header__nav {
	align-items: center;
	display: flex;
	justify-content: center;
	position: fixed;
}

.header__nav.is-open {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}

#nav__list {
	display: none;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	text-align: center;
}

#nav__list.is-open {
	animation: drawerNavAnime 0.8s ease 0.5s forwards;
	display: block;
	z-index: 999;
}

.nav__item {
	margin-bottom: 32px;
}

.nav__item + .nav__item {
	margin-left: 0;
}

.nav__item:not(:last-child)::before {
	background: #77cdff;
	bottom: -16px;
	content: "";
	height: 1px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 80px;
}

.top__ttl {
	font-size: 5rem;
	height: auto;
	margin-bottom: 2.5%;
	padding: 32px 0;
	transform: translateY(-50%);
}

.scrolldown {
	bottom: 100px;
}

.concept__desc {
	font-size: 0.75rem;
}

.about__row {
	flex-direction: column;
}

.about__big-img {
	margin-bottom: 2.5%;
}

.about__headline {
	font-size: 1.5rem;
}

.about__txt {
	font-size: 0.5rem;
}

.text__like:nth-child(2) {
	right: 5%;
	top: 25%;
}

.text__like {
	font-size: 0.5rem;
	padding: 2px;
}

.desc__target dt {
	margin-top: 35%;
}

.desc__target dd {
	bottom: 2.5%;
	font-size: inherit;
	font-size: 0.75rem;
}

.about__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.about__list > li:nth-child(odd) {
	justify-self: start;
}

.about__list > li:nth-child(even) {
	justify-self: end;
}

.about__job {
	grid-area: 1/1/2/2;
}

.about__live {
	grid-area: 1/2/2/3;
}

.about__like {
	grid-area: 2/2/3/3;
}

.about__target {
	grid-area: 2/3/3/4;
}

.about__tab {
	height: 75px;
	width: 75px;
}

.service__list {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	place-items: center;
}

.service__website {
	grid-area: 1/3/2/4;
}

.service__blog {
	grid-area: 2/2/3/3;
}

.service__support {
	grid-area: 3/1/4/2;
}

.service__wrapper {
	height: 75px;
	width: 75px;
}

.modal__container {
	width: calc(100% - 20px);
}

.modal__header {
	margin-bottom: 16px;
}

.modal__ttl {
	font-size: 0.75rem;
}

.modal__img {
	height: auto;
}

.modal__txt {
	font-size: 0.5rem;
}

.works__links {
	gap: 0;
}

.contact__form {
	margin: 0 auto;
}

.contact__row {
	display: block;
	margin-bottom: 32px;
}

.contact__label {
	text-align: left;
}

.contact__required {
	margin: 0;
	padding: 0.1em;
}

.contact__input {
	margin-left: 0;
}

.contact__input.is-error::before,
.contact__input.is-error::after {
	display: block;
	left: 0;
	text-align: left;
	transform: none;
}

[type=text] {
	height: 30px;
	line-height: 30px;
}

[type=email] {
	height: 30px;
	line-height: 30px;
}

textarea {
	height: 100px;
	max-width: 700px;
	min-height: 100px;
}

.footer {
	height: 30px;
	position: static;
}

.footer__copyright {
	padding-top: 9px;
}

}

@keyframes planetRotate {

0% {
	background-position: 0% center;
}

100% {
	background-position: -200% center;
}

}

@keyframes drawerNavAnime {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

@keyframes navHover {

from {
	height: 0;
	width: 0;
}

50% {
	height: 0;
	width: 100%;
}

100% {
	height: 50%;
	width: 100%;
}

}

@keyframes scrolldownMove {

0% {
	bottom: 75px;
}

50% {
	bottom: 50px;
}

100% {
	bottom: 75px;
}

}

@keyframes mmfadeIn {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@keyframes mmfadeOut {

from {
	opacity: 1;
}

to {
	opacity: 0;
}

}

@keyframes mmslideIn {

from {
	transform: translateY(15%);
}

to {
	transform: translateY(0);
}

}

@keyframes mmslideOut {

from {
	transform: translateY(0);
}

to {
	transform: translateY(-10%);
}

}

@keyframes errorBorder {

from {
	width: 0;
}

to {
	width: 165px;
}

}

@keyframes errorBorder2 {

from {
	width: 0;
}

to {
	width: 240px;
}

}

@keyframes errorBorder3 {

from {
	width: 0;
}

to {
	width: 170px;
}

}

@keyframes errorText {

from {
	opacity: 0;
}

50% {
	opacity: 50%;
}

100% {
	opacity: 100%;
}

}

